* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Titulo;
    src: url('/assets/fontes/ANODETONOONE.TTF');
}

h1 {
    font-family: Titulo;
    font-size: 2rem;
    color: rgb(49, 45, 45);
    text-align: center;
    margin-top: 1.5rem;
}

p {
    font-family: Titulo;
    font-size: 0.850rem;
    color: rgb(49, 45, 45);
    text-align: center;
    margin-top: 1rem;
}

body {
	background-image:url('/assets/imgs/fundo.jpg');
}

#container{
	width: 59.375rem;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

#container #score {
    padding: 0.2rem 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-family: Titulo;
    font-size: 1.5rem;
    text-align: right;
}


#game-background {
    width:59.375rem;
	height: 39.375rem;
	background-image:url('/assets/imgs/fundo_game.jpg');
	border-color:#FFF;
	border-style:solid;
}

#player {
	width: 16rem;
	height: 4.125rem;
	position:absolute;
	left: 0.5rem;
	top:11.1875rem;
background-image:url('/assets/imgs/apache.png');

}

#enemy1 {
	width: 16rem;
	height: 4.125rem;
	position: absolute;
	left: 43.0625rem;
	top: 15.8125rem;    
	background-image:url('/assets/imgs/inimigo1.png');
	
}

#enemy2 {
	width: 10.3125rem;
	height: 4.375rem;
	position: absolute;
	left: 48.4375rem;
	top: 27.9375rem;
	background-image: url('/assets/imgs/inimigo2.png');
}

#friend {
	width: 2.75rem;
	height: 3.1875rem;
	position: absolute;
	left: 0.625rem;
	top: 29rem;
	background-image:url('/assets/imgs/amigo.png');
}

#start {
	width: 21.875rem;
	height: 12.5rem;
	background-color:#FFF;
 	margin-left:auto;
    margin-right:auto;
 	margin-top: 6.25rem;
	text-align:center;
	padding: 0.625rem;

}

#bullet {
    width: 3.125rem;
    height: 0.5rem;
    position: absolute;
    background-image:url('/assets/imgs/disparo.png');
}

#explosion1 {
	width:15px;
	height:87px;
	position:absolute;
}

#explosion2 {
	width:15px;
	height:87px;
	position:absolute;
}

#explosion3 {
	width:44px;
	height:51px;
	position:absolute;
}



.anima-player {
    background-image: url('/assets/imgs/apache.png');
    animation: play .5s steps(2) infinite;

    -webkit-animation: play .5s steps(2) infinite;
    -moz-animation: play .5s steps(2) infinite;
    -o-animation: play .5s steps(2) infinite;
    -ms-animation: play .5s steps(2) infinite;

}

@keyframes play {
    from { background-position: 0; }
    to { background-position: -32rem; }
}

@-webkit-keyframes play {
    from { background-position: 0; }
    to { background-position: -32rem; }
}

@-moz-keyframes play {
    from { background-position: 0; }
    to { background-position: -32rem; }
}

@-o-keyframes play {
    from { background-position: 0; }
    to { background-position: -32rem; }
}

@-ms-keyframes play {
    from { background-position: 0; }
    to { background-position: -32rem; }
}

.anima-enemy1 {
    background-image: url('/assets/imgs/inimigo1.png');
    animation: play .5s steps(2) infinite;

    -webkit-animation: play .5s steps(2) infinite;
    -moz-animation: play .5s steps(2) infinite;
    -o-animation: play .5s steps(2) infinite;
    -ms-animation: play .5s steps(2) infinite;

}

@keyframes play {
    from { background-position: 0; }
    to { background-position: -32rem; }
}

@-webkit-keyframes play {
    from { background-position: 0; }
    to { background-position: -32rem; }
}

@-moz-keyframes play {
    from { background-position: 0; }
    to { background-position: -32rem; }
}

@-o-keyframes play {
    from { background-position: 0; }
    to { background-position: -32rem; }
}

@-ms-keyframes play {
    from { background-position: 0; }
    to { background-position: -32rem; }
}

.anima-friend {
    background-image: url('/assets/imgs/amigo.png');
    animation: friend-move .9s steps(12) infinite;

    -webkit-animation: friend-move .9s steps(12) infinite;
    -moz-animation: friend-move .9s steps(12) infinite;
    -o-animation: friend-move .9s steps(12) infinite;
    -ms-animation: friend-move .9s steps(12) infinite;
}

@keyframes friend-move {
    from { background-position: 0; }
    to { background-position: -33rem; }
}

@-webkit-keyframes friend-move {
    from { background-position: 0; }
    to { background-position: -33rem; }
}

@-moz-keyframes friend-move {
    from { background-position: 0; }
    to { background-position: -33rem; }
}

@-o-keyframes friend-move {
    from { background-position: 0; }
    to { background-position: -33rem; }
}

@-ms-keyframes friend-move {
    from { background-position: 0; }
    to { background-position: -33rem; }
}

.killFriend {
	width:44px;
	height:51px;
	background-image:url(../assets/imgs/amigo_morte.png);
	animation: friendKill .5s steps(7) infinite;
	-webkit-animation: friendKill .5s steps(7) infinite;
    -moz-animation: friendKill .5s steps(7) infinite;
    -ms-animation: friendKill .5s steps(7) infinite;
    -o-animation: friendKill .5s steps(7) infinite;
}

@keyframes friendKill {
	from {background-position:0px;}
	to {background-position:-308px;}
}

@-webkit-keyframes friendKill {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-moz-keyframes friendKill {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-ms-keyframes friendKill {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-o-keyframes friendKill {
   from { background-position:    0px; }
     to { background-position: -308px; }
}
